:root {
    --main-color: #212121;
    --support-color: #757575;
    --higlight-color: #2196F3;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --footer-link-color: #FFFFFF 60%;
    --background-color: #2F303A;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
}
body {
    font-family: 'Roboto', sans-serfif;
    color: var(--main-color);
}

/* Nagłówek makiety */

.header-logo, .logo-web {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
letter-spacing: 0.03em;
color: var(--black-color);
}

.logo-web {
color: var(--higlight-color); 
}

.header-address, .header-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--support-color);
}

.header-address:hover, .header-phone:hover,
.header-address:focus, .header-phone:focus {
color: var(--higlight-color);
text-decoration: underline;
}

/* Menu makiety */

.nav-list a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.nav-list-item-link:hover, .nav-list-item-link:focus {
    color: var(--higlight-color);
    text-decoration: underline;
}

/* Header makiety */

.main-section {
    background-color: var(--background-color);
}

.main-section h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.main-button {
background: var(--higlight-color);
box-shadow: 0px 4px 4px var(--box-shadow-color);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
letter-spacing: 0.06em;
color: var(--white-color);
}

/* Nasze atuty*/

.trumps h2 {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-color);
}

.trumps-item {
line-height: 1.71;
color: var(--support-color);
}

/* Czym sie zajmujemy  i nagłówek do Nasz zespół */

.works h2, .team {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
}

/* Nasz zespół */

.team-img {
background: var(--white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
}

.team-img-descrip {
font-weight: 400;
color: var(--support-color);
}

/* Portfolio filters */

/* Portfolio projects */

.projects-img {
background: var(--white-color);
}

.projects-img-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-color); 
}
.projects-img-descrip {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--support-color);
}

/* Footer */

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--white-color);
    }

.footer-color {
background-color: var(--background-color);
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.171;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.footer-address-link, .footer-phone-link, .footer-address-link-u {
    color: var(--footer-link-color);
    text-decoration: none;
}

.footer-address-link-u {
    text-decoration: underline;
}

.footer-address-link:hover, .footer-phone-link:hover,
.footer-address-link:focus, .footer-phone-link:focus,
.footer-address-link-u:hover, .footer-address-link-u:focus {
color: var(--higlight-color);
text-decoration: underline;
}